<h1>Calzado Destacados</h1>

<div class="carrusel2-container">
  <div class="carrusel2">
    <!-- Tarjetas dinámicas de productos -->
    <div class="card-container" *ngFor="let item of info">
      <div class="card">
        <div class="badge">{{ item.lanzamiento }}</div>
        <img [src]="item.imagen" alt="{{ item.nombre }}" class="product-image" />
        <div class="card-content">
          <img [src]="item.logo" alt="Logo" class="logo" />
          <div class="price">${{ item.precio | number }}</div>
          <div class="description">{{ item.nombre }}</div>
          <div class="installments">{{ item.cuotas }} ${{ item.precioCuotas | number }}</div>
        </div>
      </div>
    </div>

    <!-- Duplicamos las tarjetas para el efecto de carrusel infinito -->
    <div class="card-container" *ngFor="let item of info">
      <div class="card">
        <div class="badge">{{ item.lanzamiento }}</div>
        <img [src]="item.imagen" alt="{{ item.nombre }}" class="product-image" />
        <div class="card-content">
          <img [src]="item.logo" alt="Logo" class="logo" />
          <div class="price">${{ item.precio | number }}</div>
          <div class="description">{{ item.nombre }}</div>
          <div class="installments">{{ item.cuotas }} ${{ item.precioCuotas | number }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Botones para mover el carrusel -->
  <button class="prev" (click)="moveSlide2(-1)">&#10094;</button>
  <button class="next" (click)="moveSlide2(1)">&#10095;</button>
</div>
