

<h1>Accesorios Destacados</h1>



<div class="carrusel-container">
  <div class="carrusel">
    <div class="card-container" *ngFor="let item of info">
      <div class="card">
        <div class="badge">{{ item.lanzamiento }}</div>
        <img [src]="item.imagen" alt="{{ item.nombre }}" class="product-image" />
        <div class="card-content">
          <img [src]="item.logo" alt="Logo" class="logo" />
          <div class="price">${{ item.precio | number }}</div>
          <div class="description">{{ item.nombre }}</div>
          <div class="installments">{{ item.cuotas }} ${{ item.precioCuotas | number }}</div>
        </div>
      </div>
    </div>
    <!-- Duplicamos el contenido del carrusel para crear el efecto infinito -->
    <div class="card-container" *ngFor="let item of info">
      <div class="card">
        <div class="badge">{{ item.lanzamiento }}</div>
        <img [src]="item.imagen" alt="{{ item.nombre }}" class="product-image" />
        <div class="card-content">
          <img [src]="item.logo" alt="Logo" class="logo" />
          <div class="price">${{ item.precio | number }}</div>
          <div class="description">{{ item.nombre }}</div>
          <div class="installments">{{ item.cuotas }} ${{ item.precioCuotas | number }}</div>
        </div>
      </div>
    </div>
  </div>
  <button class="prev" (click)="moveSlide(-1)">&#10094;</button>
  <button class="next" (click)="moveSlide(1)">&#10095;</button>
</div>
