<mat-toolbar>
  <button id="menuSecciones" mat-icon-button class="example-icon" [matMenuTriggerFor]="secciones">
    <mat-icon class="letras">menu</mat-icon>
  </button>

  <mat-menu #secciones="matMenu">
    <button mat-menu-item routerLink="/inicio" class="letras">Inicio</button>
    <button mat-menu-item [matMenuTriggerFor]="producto" class="letras">Productos</button>
  </mat-menu>

  <span class="logo"><img src="./assets/LogoDelNavbar.png" alt=""></span>
    <button id="menuInicio" mat-button routerLink="/inicio" class="letras">Inicio</button>

  <!-- Menu desplegable: SECCION DE PRODUCTOS -->
  <button id="menuProducto" mat-button [matMenuTriggerFor]="producto">Productos</button>
  <mat-menu #producto="matMenu">
    <button mat-menu-item routerLink="/general" class="letranegra">General</button> 
    <button mat-menu-item routerLink="/indumentaria" class="letranegra">Indumentaria</button>
    <button mat-menu-item routerLink="/botines" class="letranegra">Botines</button>
    <button mat-menu-item routerLink="/accesorios" class="letranegra">Accesorios</button>
    <button mat-menu-item routerLink="/afa-argentina" class="letranegra">AFA Argentina</button>

  </mat-menu>

  <button id="menuInicio" mat-button routerLink="/sobrenosotros" >Sobre Nosotros</button>
  <button id="menuInicio" mat-button routerLink="/contacto" >Contacto</button>




  <span class="example-spacer"></span>

    <!-- Manejo del inicio (registro e inicio de sesión) y del cerrar sesión -->
    <button mat-icon-button [matMenuTriggerFor]="usuario"><mat-icon class="letras">person</mat-icon></button>
  <mat-menu #usuario="matMenu">
    <button mat-menu-item (click)="iniciar()" *ngIf="logueado" routerLink="/registro">Registrarse</button>
    <button mat-menu-item (click)="iniciar()" *ngIf="logueado" routerLink="/inicio-sesion">Iniciar sesión</button>
    <button mat-menu-item (click)="cerrarSesion()" *ngIf="deslogueado">Cerrar Sesión</button>
  </mat-menu>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon class="letras">shopping_cart</mat-icon>
  </button>

     <!--Label Para Modo Oscuro-->
     <label for="toggle" id="label_toggle"><i class="fa-solid fa-moon"></i></label>
     <input type="checkbox" id="toggle" (click)="cambiarFondo()">

</mat-toolbar>