<footer>
    <div class="footer-container">
        <div class="footer-section about">
            <h2>Sobre Nosotros</h2>
            <p>
                Somos una tienda especializada en ropa deportiva, enfocada principalmente en el fútbol. Nos apasiona el deporte rey y nos dedicamos a ofrecer la mejor selección de calzados deportivos para futbolistas de todos los niveles. Nuestro objetivo es proporcionar productos de alta calidad que ayuden a mejorar el rendimiento en el campo, asegurando confort y durabilidad. Nos enorgullece apoyar a nuestros clientes en cada paso de su carrera deportiva, desde los entrenamientos
            </p>
        </div>
        <div class="footer-section links">
            <h2>Enlaces Rápidos</h2>
            <ul>
                <li><a routerLink="/inicio">Inicio</a></li>
                <li><a routerLink="/general">Productos</a></li>
                <li><a routerLink="/contacto">Contacto</a></li>
                <li><a routerLink="/sobrenosotros">Sobre Nosotros</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h2>Contacto</h2>
            <ul>
                <li><i class="fa fa-map-marker"></i> Dirección: Paraguay 1050, Cipolletti</li>
                <li><i class="fa fa-phone"></i> Teléfono: ++54 9 511 0326</li>
                <li><i class="fa fa-envelope"></i> Email: GolGear@gmail.com</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 GolGear | Diseñado por Ciro Romero
    </div>
</footer>