<footer>
    <div class="footer-container">
        <div class="footer-section about">
            <h2>Sobre Nosotros</h2>
            <p>
                Somos una tienda especializada en ropa deportiva, enfocada principalmente en el fútbol. Nos apasiona el deporte rey y nos dedicamos a ofrecer la mejor selección de calzados deportivos para futbolistas de todos los niveles. Nuestro objetivo es proporcionar productos de alta calidad que ayuden a mejorar el rendimiento en el campo, asegurando confort y durabilidad. Nos enorgullece apoyar a nuestros clientes en cada paso de su carrera deportiva, desde los entrenamientos
            </p>
        </div>
        <div class="footer-section links">
            <h2>Enlaces Rápidos</h2>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Términos de Servicio</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h2>Contacto</h2>
            <ul>
                <li><i class="fa fa-map-marker"></i> Dirección: Calle Ejemplo 123, Ciudad</li>
                <li><i class="fa fa-phone"></i> Teléfono: +123 456 789</li>
                <li><i class="fa fa-envelope"></i> Email: </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 Nombre de la Empresa | Diseñado por Nosotros
    </div>
</footer>