.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
    justify-content: space-around;
}

h1 {
    font-size: 3rem;
    color: #0382ac; /* Color llamativo */
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para hacer que el texto destaque */
    animation: fadeIn 2s ease-out forwards;
}

/* Animación de llegada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media queries para hacer el diseño responsivo */
@media (min-width: 576px) {
    .container {
        flex-direction: row;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 3.5rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}
