<!-- PRIMER CUADRO -->
<div class="ContainerImgIzquierda">
    <!-- Imagen a la izquierda -->
    <div class="ImgIzquierda">
        <img src="./assets/FutbolSala.jpg" alt="Imagen">
    </div>
  
    <!-- Cuadrado con Titulo, Subtitulo y Botón a la derecha -->
    <div class="square">
        <h1 class="title">Futbol Sala</h1>
        <h3 class="subtitle">CALZADO, CAMPERAS, ACCESORIOS Y MÁS</h3>
        <button class="myButton">Ver Productos</button>
    </div>
</div>

<!-- SEGUNDO CUADRO -->
<div class="ContainerImgDerecha">
    <!-- Cuadrado con Titulo, Subtitulo y Botón a la izquierda -->
    <div class="square">
        <h1 class="title">Futbol Sintético</h1>
        <h3 class="subtitle">BALONES, REDES, UNIFORMES Y MÁS</h3>
        <button class="myButton">Explorar Más</button>
    </div>
  
    <!-- Imagen a la derecha -->
    <div class="ImgDerecha">
        <img src="./assets/sintetica.jpg" alt="Imagen">
    </div>
</div>

<!-- TERCER CUADRO -->
<div class="ContainerImgIzquierda">
    <!-- Imagen a la izquierda -->
    <div class="ImgIzquierda">
        <img src="./assets/cespet.jpg" alt="Imagen">
    </div>
  
    <!-- Cuadrado con Titulo, Subtitulo y Botón a la derecha -->
    <div class="square">
        <h1 class="title">Futbol Sala</h1>
        <h3 class="subtitle">CALZADO, CAMPERAS, ACCESORIOS Y MÁS</h3>
        <button class="myButton">Ver Productos</button>
    </div>
</div>
