
<!--PRIMER CUADRO-->
<div class="ContainerImgIzquierda">
    <!-- Imagen a la izquierda -->
    <div class="ImgIzquierda">
        <img src="./assets/FutbolSala.jpg" alt="Imagen">
    </div>
  
    <!-- Cuadrado con Titulo, Subtitulo y Botón a la derecha -->
    <div class="square">
        <h1 id="title">Futbol Sala</h1>
        <h3 id="subtitle">CALZADO, CAMPERAS, ACCEOSRIOS Y MÁS</h3>
        
        <button id="myButton">Ver Productos</button>
    </div>
  </div>




  
<!--SEGUNDO CUADRO-->
<div class="ContainerImgDerecha">
    <!-- Cuadrado con Titulo, Subtitulo y Botón a la izquierda -->
    <div class="square">
        <h1 id="title">Futbol Sintetico</h1>
        <h3 id="subtitle">BALONES, REDES, UNIFORMES Y MÁS</h3>
        
        <button id="myButton">Explorar Más</button>
    </div>
  
    <!-- Imagen a la derecha -->
    <div class="ImgDerecha">
        <img src="./assets/sintetica.jpg" alt="Imagen">
    </div>
</div>



<!--TERCER CUADRO-->
<div class="ContainerImgIzquierda">
    <!-- Imagen a la izquierda -->
    <div class="ImgIzquierda">
        <img src="./assets/cespet.jpg" alt="Imagen">
    </div>
  
    <!-- Cuadrado con Titulo, Subtitulo y Botón a la derecha -->
    <div class="square">
        <h1 id="title">Futbol Sala</h1>
        <h3 id="subtitle">CALZADO, CAMPERAS, ACCEOSRIOS Y MÁS</h3>
        
        <button id="myButton">Ver Productos</button>
    </div>
  </div>