

  <h1>Productos Destacados</h1>


  <div class="card-container">
    <div class="card" *ngFor="let item of info">
      <div class="badge">{{ item.lanzamiento }}</div>
      <img [src]="item.imagen" alt="{{ item.nombre }}" class="product-image" />
      <div class="card-content">
        <img [src]="item.logo" alt="Logo" class="logo" />
        <div class="price">${{ item.precio | number }}</div>
        <div class="description">{{ item.descripcion }}</div>
        <div class="installments">{{ item.cuotas }} ${{ item.precioCuotas | number }}</div>
        <!--<button>Ver Mas</button>     Hacer mas piola y que sean una ruta hacia el producto o el tipo de produto--> 
      </div>
    </div>
  </div>
  







<!--GOOGLE MAPS PARA EL APARTADO DE SOBRE NOSOTROS-->
<!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d387.9995798756131!2d-67.95161810979727!3d-38.92405431353968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1727441144652!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->







