<section class="about-us-container">
    <div class="about-us-content">
      <h1 class="about-us-title">Sobre Nosotros</h1>
      <p class="about-us-text">
        Bienvenido a <span class="brand-name">{{ brandName }}</span>. Nuestra pasión por el fútbol nos inspira a 
        ofrecerte productos exclusivos y de la más alta calidad, para que juegues como un profesional. Desde 
        indumentaria moderna hasta accesorios especializados, queremos llevar el espíritu del fútbol a cada uno 
        de nuestros clientes. <!--<strong>Tu opinión es importante para nosotros. Déjanos tus comentarios o sugerencias para ayudarnos a mejorar nuestra comunidad.</strong>-->
      </p>
      <!--<button class="cta-button" routerLink="/contacto" >Conoce más</button>-->
    </div>
  </section>
  