/*Estilos Para Modo Oscuro*/

body{
    
        background: linear-gradient(to bottom, #000000, #13072e);
    }
#toggle{
    display: none;
}
#label_toggle{
    position: static;
    cursor: pointer;
}
.dark{
    background-color: black;
    color: white;
    transition: all 1.5 ease;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}




.logo img {
    height: 80px; /* Ajusta la altura del logo según lo necesites */
    width: auto; /* Mantiene la proporción del logo */
    max-height: 100%; /* Se ajusta al tamaño máximo del contenedor */
  }
  